<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MF.Utility.Bus" version="1.0.3" targetFramework="net472" />
  <package id="MF.Utility.Common" version="1.0.1" targetFramework="net472" />
  <package id="MF.Utility.Ioc" version="1.0.3" targetFramework="net472" />
  <package id="MF.Utility.Logging" version="1.0.12" targetFramework="net472" />
  <package id="MF.Utility.WPF" version="1.0.5" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="10.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="10.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="10.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.0" targetFramework="net472" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.2" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net472" version="1.0.2" targetFramework="net472" developmentDependency="true" />
  <package id="NLog" version="6.0.6" targetFramework="net472" />
  <package id="NLog.Schema" version="6.0.6" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net472" />
  <package id="OxyPlot.Core" version="2.2.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.6.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net472" />
  <package id="System.Threading.Channels" version="10.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net472" />
  <package id="WPFLocalizeExtension" version="3.10.0" targetFramework="net472" />
  <package id="XAMLMarkupExtensions" version="2.1.3" targetFramework="net472" />
</packages>